<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="in.tanjo.httpintenter"
        >

    <application
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:name=".HttpIntenterApplication"
            >

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ReceiveIntentActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <action android:name="android.intent.action.SEND" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LauncherActivity" />

        <activity android:name=".activity.LicenseActivity" />

        <activity android:name=".activity.SearchActivity" />

    </application>

</manifest>
